<h1 class="center"><b>!!  Update Task Details !!</b></h1>
<h2 class="date"><%= Time.now.strftime("%m/%d/%Y")%></h2>
<br><br>
<%= form_with model: @my_task do |form| %>
<div>
<%= form.label :Title ,style: "display: block",class:"label-name" %>
<%= form.text_field :title %>
</div>

<br>
<br>

<div>
<%= form.label :Description_of_task ,style: "display: block" ,class:"label-name" %>
<%= form.text_area  :description %>
</div>

<br>
<br>

<div>
<%= form.label :Deadline, style: "display: block" ,class:"label-name" %>
<%= form.text_field :creation_date %>
</div>

<div class = "submit-button">
<%= form.submit%>
</div>

<% end %>